In [1]:
#import statements
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#get fuel data from url
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
df_fuel_ferc = pd.read_csv(url, error_bad_lines=False)

#View the first 5 rows in the dataframe
df_fuel_ferc.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

### Question 1

In [3]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question 2

In [4]:
#create a 3 x 3 identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 3

In [5]:
#groupby "fuel_type_code_pudl" find the average of "fuel_cost_per_unit_burned" column and sort in ascending order
df_fuel_ferc.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 4

In [6]:
df_fuel_ferc["fuel_mmbtu_per_unit"].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

### Question 5

In [7]:
df_fuel_ferc["fuel_qty_burned"].skew()

15.851495469109503

In [8]:
df_fuel_ferc["fuel_qty_burned"].kurt()

651.3694501337732

### Question 6

In [9]:
df_fuel_ferc.isna().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [10]:
df_fuel_ferc.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [11]:
#assign sum of missing rows to missing_rows
missing_rows = df_fuel_ferc["fuel_unit"].isna().sum()

#count the total number of rows in the column
total_rows = df_fuel_ferc["fuel_unit"].count() + missing_rows

#calculate the percentage of missing rows
pct_missing_rows = (missing_rows / total_rows) * 100
pct_missing_rows

0.609694136774718

### Question 7

In [12]:
#return the top 5 rows with missing values in the dataframe

df_fuel_ferc.loc[df_fuel_ferc.isna().any(axis = 1)].head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
66,f1_fuel_1994_12_9_3_13,9,1994,mickleton,oil,NaN,3547.0,5.606160,41.930,41.77,7.480
152,f1_fuel_1994_12_8_1_14,8,1994,ar nuclear one,nuclear,NaN,43461380.0,3.412600,1.654,0.00,0.485
277,f1_fuel_1994_12_74_0_3,74,1994,perry k & w,other,NaN,2654942.0,0.100000,0.044,0.00,0.440
626,f1_fuel_1994_12_117_0_1,117,1994,nine mile unit 1,nuclear,NaN,401216.0,0.127467,78.446,0.00,0.615
627,f1_fuel_1994_12_117_0_4,117,1994,nine mile unit 2,nuclear,NaN,313736.0,0.119756,57.534,0.00,0.480

In [13]:
#groupby fuel_unit, count the number and sort in descending order
df_fuel_ferc.groupby("fuel_unit")['fuel_unit'].count().sort_values(ascending = False)

fuel_unit
mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [14]:
#fill missing values with "mcf" as we've seen above is the mode of "fuel_unit" 
df_fuel_ferc[['fuel_unit']] = df_fuel_ferc[['fuel_unit']].fillna(value='mcf') 

#Check if missing values still exist 
df_fuel_ferc.isna().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                       False
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

### Question 8

In [15]:
#Find the correlation of values along the "fuel_cost_per_unit_burned" column and sort in ascending order
df_fuel_ferc.corr().loc["fuel_cost_per_unit_burned"].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 9

In [19]:
#group the values by report_year and fuel_type_code_pudl then find the sum
yearly_cost = df_fuel_ferc.groupby(["report_year", "fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].sum()
yearly_cost

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
                                       ...
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [20]:
#locate the values of fuel_cost_per_unit_burned of coal for the years 1994 and 1998 then assign them to the variables
yr_1994, yr_1998 = yearly_cost.loc[[1994, 1998], "coal"]

#calculate the percent change
pct_chg = ((yr_1998 - yr_1994)/(yr_1994)) * 100
pct_chg

-20.56765451826049

### Question 10

In [21]:
#group fuel_cost_per_unit_delivered by the report_year and find their average values
fuel_burned_ave = df_fuel_ferc.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()

#sort the values in descending order
fuel_burned_ave.sort_values(ascending = False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64